<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:action="@{/formsSave}" th:object="${person}" method="post">
    <label for="firstName">Imie</label>
    <input id="firstName" type="text" th:field="*{firstName}">
    <label for="lastName">Nazwisko</label>
    <input id="lastName" type="text" th:field="*{lastName}">
    <label for="phone">Telefon</label>
    <input id="phone" type="text" th:field="*{phoneNumber}">
    <label for="salary">Pensja</label>
    <input id="salary" type="text" th:field="*{salary}">
    <label for="visible">Widoczny w systemie</label>
    <input id="visible" type="checkbox" th:field="*{visible}">

    <input type="submit" value="Zapisz">


</form>

</body>
</html>